*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.heading h1{
    font-size: 60px;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../Components/Assests/PngItem_22665.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.logger{
    border: 1px solid black;
    width: 500px;
    min-height: 500px;
    height: 25%;
    padding: 15px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    transition: 0.5s;
    
}

.logger:hover{
    background-color: white;
    opacity: 1;
    transition: 0.5s;
}

.logger form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

::placeholder {
    text-align: center; 
 }

 .logger input{
    background: #f3f0f0;
 }

.logo{
    position: absolute;
    bottom: 0;
    right: 0;
}

.label-field label{
    font-size: 30px;
    font-weight: 600;
}

.input-field input{
    width: 80%;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    width: 100%;
}

.btn button{
    border-radius: 15px;
    box-shadow: 2px 2px 7px #676666;
}

.left-menu button:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
.left-menu button:active{
    box-shadow: none;
    
}

.submit-btn button{
    margin-top: 10px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    width: 100%;
    width: 170px;
}

.info-text p{
    font-size: 20px;
}





 