.bigH{
    font-size: 35px;
    margin-top: -40px;
    margin-bottom: -50px;
    font-weight: 700;
    color: rgb(221, 218, 218);
}
.bigH:hover{
    color: rgb(255, 255, 255);
}
/* ================================ */
.bigHG{
    font-size: 15px;
    text-decoration: none;
    margin: 65px 0px 0px 0px;
    color: rgb(219, 216, 216);
}
.bigHG:hover{
    color: rgb(255, 255, 255);
}
/* ================================ */
.midH{
    font-size: 15px;
    font-weight: 500;
    color: rgb(200, 199, 199);
}
.midH:hover{
    color: rgb(255, 255, 255);
}
/* ================================ */
.midHG{
    font-size: 13px;
    color: rgb(219, 216, 216);
    text-align: right;
    margin: 3px 0px;
}
.midHG:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
/* ================================ */
.LH{
    font-size: 15px;
    font-weight: 700;
    margin-top: -20px;
    margin-bottom: -10px;
    color: rgb(53, 177, 82);
}
.LH:hover{
    color: rgb(85, 222, 117);
}
/* ================================ */
.OB{
    border-radius: 10px;
    margin: 5px 0px;
    padding: 2px;
    text-align: center;
}
.OB button{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(101, 108, 102);
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 5px 20px;
}
.OB button:hover{
    cursor: pointer;
    background-color: rgb(69, 195, 81);   
}
/* ================================ */
.fieldS1{
    width: 100%;
    color: rgb(209, 208, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.fieldS1 label{
    width: 100%;
    font-size: 20px;
}
.fieldS1 input{
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 5px 0px;
    color: rgb(87, 217, 100);
    background-color: rgb(125, 124, 124);
    border-bottom: solid rgb(209, 208, 208) 2px;
}
.fieldS1 input::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
}
.fieldS1 input::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(255, 255, 255);
}
.fieldS1 input:focus{
    border-bottom: solid rgb(30, 213, 48) 2px;
}
.fieldS1 textarea{
    margin: 5px 0px;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    font-size: 20px;
    color: rgb(87, 217, 100);
    background-color: rgb(125, 124, 124);
    border: solid rgb(209, 208, 208) 2px;
    padding: 5px 5px;
    resize: none;
    border-radius: 10px;
}
.fieldS1 textarea::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
}
.fieldS1 textarea::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(255, 255, 255);
}
.fieldS1 textarea:focus{
    border: solid rgb(30, 213, 48) 2px;
}
.fieldS1 span{
    text-align: center;
    width: 80%;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
}
/* .fieldS1 input:invalid[focused = "true"]{
    border-bottom: 2px solid red;
} */
.fieldS1 input:invalid[focused = "true"] ~ span{
    display: block;
}
.fieldS1 textarea:invalid[focused = "true"] ~ span{
    display: block;
}
/* ================================ */
.fieldS2{
    width: 100%;
}
.fieldS2 p{
    margin: 0px 0px 5px 0px;
}
.fieldS2 label{
    width: 100%;
    font-size: 20px;
}
.fieldS2 input{
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 5px 0px;
}
.fieldS2 textarea{
    margin: 5px 0px;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    font-size: 20px;
    border: 1px solid grey;
    padding: 5px 5px;
    resize: none;
    border-radius: 10px;
}
.fieldS2 textarea:focus{
    border: solid rgb(30, 213, 48) 2px;
}
/* ================================ */
.sButton1{
    text-align: right;
} 
.sButton1 button{
    width: 40%;
    height: 50px;
    padding: auto;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    background-color:rgb(154, 154, 154) ;
    color: white;
}
.sButton1 button:hover{
    background-color:rgb(30, 213, 48) ;
    cursor: pointer;
}
.sButton1 button:active{
    box-shadow: none;
}
/* ================================ */
.sButton2{
    text-align: center;
} 
.sButton2 button{
    width: 100%;
    height: 50px;
    padding: auto;
    text-align: center;
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
    font-size: 20px;
    background-color:rgb(136, 136, 136) ;
    color: white;
}
.sButton2 button:hover{
    background-color:rgb(30, 213, 48) ;
    cursor: pointer; 
}
/* ================================ */
.sButton3{
    text-align: center;
    width: 100%;
} 
.sButton3 button{
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(214, 214, 214);
    font-weight: 500;
    border-radius: 10px;
    background-color:rgb(56, 56, 56) ;
    color: rgb(214, 214, 214);
}
.sButton3 button:hover{
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer; 
}
/* ================================ */
/* Radio */
.radio1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.radio1 label{
    width: 100px;
    display: inline-block;
    text-align: right;
}
/* ================================ */
/* Heading1 */
.heading1 h1{
    font-size: 60px;
    color: rgb(229, 228, 228);
}