.form1{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10%;
    position: absolute;
    z-index: -1;  
}

.form1 form{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}