.projectStateSelector{
    display: flex;
    flex-direction: column;
    gap: 20%;
}
/* ====================================== */
.functionLayout1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* ====================================== */
.functionButtonLayout1{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
/* ====================================== */
.descriptionLayout1{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
/* ====================================== */
.spLayout{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}
.spLayout:hover{
    border: 1px solid rgb(95, 95, 95);
    cursor: pointer;
}
/* ====================================== */
.leftMenu{
    width: 180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    float: left;
    background-color: rgb(79, 79, 79);
}
/* ====================================== */
.content{
    width: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 200px;
    padding-top: 20px;
    position: absolute;
    z-index: -1;
}
/* ====================================== */
.createNewTask{
    width: 80%;
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
}
.createNewTask form{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.taskView1{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.taskView1::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.taskView1 {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
/* ====================================== */
/* Login */
.logLayout1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.logLayout1Inner{
    width: 600px;
    min-height: 500px;
    padding: 15px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(149, 149, 149);
    background-color: rgb(255, 255, 255);
}
.logLayout1Inner input:hover{
    cursor: pointer;
}
.logLayout1Inner:hover{
    border: 1px solid rgb(55, 55, 55);
}
.logLayout1Inner form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
/* ====================================== */
.navbarLayout{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.leftMenuLayout{
    position: fixed;
    top: 4.54rem;
    left: 0;
}
.contentLayout{
    width: 90%;
    position: absolute;
    top: 4.54rem;
    right: 0;
    left: 90px;
}
/* ================================================ */
.projectDashboardContentLayout{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20%;
    z-index: -1;
}
.pieChartLayout{
    width: 40%;
    display: flex;
    flex-direction: row;
}
.dashboardProjectList{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* ================================================ */
.predictionLayout{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.predictionElementsLayout{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.predictionButtonLayout{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(234, 234, 251);
}
.predictionButtonLayout button{
    width: 100%;
    height: 30px;
    border: 1px solid rgb(204, 204, 255);
    background-color: rgb(204, 204, 255);
    color: white;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
}
.predictionButtonLayout button:hover{
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}
.predictionChart{
    width: 100%;
    text-align: center;
    color: rgb(204, 204, 255);
    padding: 10px;
}
.predictionChart img{
    width: 80%;
}
.predictionSummary{
    width: 30%;
    background-color: rgb(204, 204, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.singleInfoLayout{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
/* ================================================ */
.workTraffic{
    width: 100%;
}
/* ================================================ */
.employeeProductivity{
    width: 100%;
}
/* ================================================ */
.singleInfoBox{
    width: 100%;
    padding: 10px;
    background-color: rgb(204, 204, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.singleInfoBox h4{
    font-size: 20px;
}
.singleInfoBox{
    font-size: 18px;
}
/* ================================================ */