.viewComment{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.viewCommentInner{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 560px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 5px;
}
.viewCommentInner:hover{
    border: 1px solid rgb(156, 156, 156);
}
.commentList1{
    width: 100%;
    height: 84.5%;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    overflow-y: scroll;
    padding: 10px;
}
.comment1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/* ======================================== */
.profilePicture1{
    width: 24px;
    height: 24px;
}
.profilePicture1 img{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 50%;
}
/* =============================================== */
.singleComment1{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
}
.msg1{
    font-size: 20px;
}
.dateTime1{
    font-size: 10px;
    text-align: right;
}
/* =============================================== */
.commentInput1{
    width: 100%;
    background: rgb(79, 79, 79);
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.commentInput1 form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: rgb(216, 216, 216);
    gap: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.commentInput1 input{
    width: 100%;
    height: 20px;
    font-size: 25px;
    background: rgb(216, 216, 216);
    color: #404040;
}
.commentInput1 ::-ms-input-placeholder { /* Edge 12-18 */
    font-size: 18px;
    color: rgb(135, 135, 135);
}
  
.commentInput1 ::placeholder {
    font-size: 18px;
    color: rgb(135, 135, 135);
}
.commentInput1 button{
    background-color: rgb(115, 114, 114);
    color: #fff;
    padding: 5px;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 5px;
}
.commentInput1 button:hover{
    cursor: pointer;
    background-color: rgb(65, 65, 65); 
}
.popupTitle1{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    background: rgb(79, 79, 79);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
}
.popupTitle1 p{
    color: rgb(193, 193, 193);
}
.popupTitle1 p:hover{
    color: rgb(253, 253, 253);
}
/* =============================================== */
.closeBtn1{
    text-align: center;
    align-items: center;
}
.closeBtn1 button{
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    background: rgb(102, 102, 102);
    border: 1px solid rgb(132, 132, 132);
    border-radius: 5px;
    color: #fff;
}
.closeBtn1 :hover{
    cursor: pointer;
    background: rgb(62, 62, 62);
}
/* =============================================== */
.viewProjectUsers{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.viewProjectUsersInner{
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 550px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
}
.projectUserList{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding: 10px;
}
.singleUser1{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
}
.userProfileImage1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    align-items: center;
}
/* =============================================== */
.viewTask1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.viewTaskInner1{
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 550px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
}
.viewTaskForm{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}
/* =============================================== */
.viewNewConversationPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    z-index: +1;
}
.viewNewConversationPopupInner{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 600px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.viewNewConversationPopupInner:hover{
    border: 1px solid rgb(156, 156, 156);
}
.newConversationList{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    padding: 10px;
}
.newConversationList::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  .newConversationList::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  .newConversationList::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .newConversationList::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
    cursor: grab;
  }
.singleUserConversations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 10px;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    gap: 20px;
}
.singleUserConversations button{
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    cursor: pointer;
}
.singleUserConversations button:hover{
    background-color: rgb(243, 243, 243);
}
.viewNewConversationPopupInnerWrapper{
    height: 600px;
}
/* ======================================== */
.viewAttachment{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.viewAttachmentInner{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 560px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 5px;
}
.viewAttachmentInner:hover{
    border: 1px solid rgb(156, 156, 156);
}
.attachmentList{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
}
.attachmentListWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ======================================== */
.singleAttachement{
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b7b7b7;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    align-items: center;
}
.attachmentDownloadButton{
    width: 100px;
    height: 40px;
    background-color: #929292;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
.attachmentDownloadButton:hover{
    background-color: #d7d7d7;
}
/* ======================================== */
.attachmentUploadButton{
    width: 250px;
    height: 45px;
    background-color: #929292;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    /* cursor: pointer; */
    align-items: center;
    text-align: center;
}
.attachmentUploadButton:hover{
    /* background-color: #d7d7d7; */
}
.attachmentUploadButton input[type = "file"]{
    /* display: none; */
}
/* ======================================== */
.viewPasswordResetPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.viewPasswordResetPopupInner{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 5px;
}
.viewPasswordContent{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.emailSubmitButton{
    background-color: aqua;
}
/* ======================================== */