*{
    box-sizing: border-box;
    border: 0px;
}

.single-task{
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    box-shadow: 0 0 10px 0px #ddd;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 10px;
}

.task-name p{
    font-size: 30px;
    font-weight: 700;
}

.task-time p{
    font-size: 10px;
    font-weight: 500;
}

.state p{
    font-size: 20px;
    font-weight: 700;
}

.single-task:hover{
    transform: scale(1.025);
    transition: 0.5s;
}

.task-view{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.single-task p{
    font-size: 20px;
}

.single-task p span{
    font-weight: 650;
}
