*{
    box-sizing: border-box;
    border: 0px;
}
.content{
    width: 83%;
    height: 91vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 50px;
    
    margin: 50px;
    margin-left: 16%;
    padding: 200px;
    padding-top: 20px;
    position: absolute;
    margin-top: 5rem;
    z-index: -1;
    overflow-y: auto;
    overflow-x: hidden;
}

.content::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.content {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}