.left-menu{
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    float: left;
    background-color: white;
    box-shadow: 0 0 10px 0px #ddd;
    margin-top: 4.75rem;
    position: fixed;
}

.left-menu button{
    padding: 20px;
    background: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0 0 0 3px #ddd;
    transition: 0.25s;
}

.left-menu button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.25s;
    
}
.left-menu button:active{
    box-shadow: none;
    
}

