.left-menu{
    width: 15%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    float: left;
    background-color: white;
    box-shadow: 8px 8px 8px #ddd;
    margin-top: 5rem;
    position: fixed;
}

.left-menu button{
    padding: 20px;
    background: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 2px 2px 7px #676666;
}

.left-menu button:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
.left-menu button:active{
    box-shadow: none;
    
}

