.left-menu{
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    float: left;
    margin-top: 4.75rem;
    position: fixed;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.left-menu button{
    padding: 20px;
    background: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 100%;
    font-weight: 500;
    border-radius: 15px;
    transition: 0.25s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.left-menu button:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition: 0.25s;
    
}
.left-menu button:active{
    box-shadow: none;
    
}

